# Directories
/[Tt]ests/

# IDE specific directories
.vs/
.idea/
._*

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Dependency directories 
# vendor/

